
<ion-content>
    <ion-navbar align-title="center">
        <button ion-button left menuToggle>
          <ion-icon class="icon ion-home custom-icon" name="menu"></ion-icon>
        </button>
        <ion-title>ONXHUNT</ion-title>
  
        <!-- Button for testing the login page -->
        <ion-buttons end>
            <button ion-button icon-only *ngIf="!toggled" (click)="toggle()">
              <ion-icon class="icon ion-home custom-icon" name="notifications"></ion-icon>
            </button>
        </ion-buttons>
  
        <ion-buttons end>
          <button ion-button icon-only (click)="openModal()">
            <ion-icon name="options" color="light"></ion-icon>
          </button>
        </ion-buttons>
        <!-- <ion-searchbar
         *ngIf="toggled"
         [(ngModel)]="someValue"
         (ionInput)="searchThis($event)"
         (ionCancel)="cancelSearch($event)"
         (ionClear) = "cancelSearch($event)"
         [showCancelButton]="true">
      </ion-searchbar> -->
  
      </ion-navbar>

    <div #map id="my-map"></div>

</ion-content>

