<ion-header >

  <ion-navbar transparent align-title="center" color="primary">
      <button ion-button left menuToggle>
        <ion-icon class="icon ion-home custom-icon" name="menu"></ion-icon>
      </button>
      <ion-title>ONXHUNT</ion-title>

      <!-- Button for testing the login page -->
      <ion-buttons end>
          <button ion-button icon-only *ngIf="!toggled" (click)="toggle()">
            <ion-icon class="icon ion-home custom-icon" name="notifications"></ion-icon>
          </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-only (click)="openModal()">
          <ion-icon name="options" color="light"></ion-icon>
        </button>
      </ion-buttons>
      <!-- <ion-searchbar
       *ngIf="toggled"
       [(ngModel)]="someValue"
       (ionInput)="searchThis($event)"
       (ionCancel)="cancelSearch($event)"
       (ionClear) = "cancelSearch($event)"
       [showCancelButton]="true">
    </ion-searchbar> -->

    </ion-navbar>

</ion-header>

<ion-content class="contentdiv">
    <div>
            <div #map id="my-map">
                </div>

            <div class="upgradenotice">
                    <ion-grid >
                        <ion-col>
                            <div >
                                <button class="daysleft">7 days trial left</button>
                            </div>
                        </ion-col>                            <br>
                
                        <ion-col>
                            <div>
                                <button class="upgradebtn">Upgrade</button>
                            </div>
                        </ion-col>
                    </ion-grid>
            </div>
                
            <div class="bottombuttonscontainer">

                    <ion-grid style="background-color: #222; ">
                      
                      <ion-row  style="justify-content: center;" >
              
                          <div class="testclass">
                              <img style="zoom:5%;" src="../../assets/icon/map-spot.svg"><br>My Spots
                          </div>
                
                          <div class="testclass">
                                  <img style="zoom:5%;" src="../../assets/icon/map.svg"><br>Map Layers
                          </div>
              
                          <div class="testclass" (click)="openOptions(3)">
                              <img style="zoom:5%;" src="../../assets/icon/world-wide-internet-signal.svg"><br>Off Grid
                          </div>
              
                          <div class="testclass" (click)="openOptions(4)">
                              <img style="zoom:5%;" src="../../assets/icon/search.svg"><br>Search Spots
                          </div>
              
                        </ion-row>
                    </ion-grid>
                    
            </div>

            <div *ngIf="showThree" class="offgridcontainer">
                <ion-grid>
                    <ion-row style="text-align:center;">
            
                          <ion-col >
                            <button ion-button block color="redlike"                                 (click)="openSaveModal()">
                                     Save New Map
                             </button>
                           </ion-col>
    
                          <ion-col >
                               <button ion-button block color="greytwo">
                            <ion-icon name="pulse" color="light"></ion-icon>
        
                                           Go Offline</button>
                          </ion-col>
                        </ion-row>
             </ion-grid>
                            
            </div >

    </div>

<!-- 
    <div class="optionscontainer">
        <div *ngIf="showFive" class="trackercontainer">
            <div><p style="font-size: 17px; color:white; text-decoration: underline" align="center">Track and Record Your Trip</p></div>
            <div>
                <ion-grid>
                    <ion-row style="text-align:center;">

                        <ion-col style="font-size: 18px; color:white">
                                0.00<br>Time
                        </ion-col>

                        <ion-col style="font-size: 18px; color:white">
                                0.00 mi<br>Distance
                        </ion-col>

                        <ion-col style="font-size: 18px; color:white">
                                0.0 mph<br>Speed
                        </ion-col>

                    </ion-row>
                </ion-grid>


                <button ion-button block color="secondary" >Start</button>
                    
            </div>
        </div >

    </div> -->

</ion-content>
